.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim the background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Styles */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 40%; /* Adjust width here */
  max-width: 600px; /* You can set a maximum width */
}

.form--info {
  background-color: lightgray;
  margin-bottom: 1rem;
  width: 50%;
}

.form--info__title {
  text-align: center;
}

.form--info__input {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form--info__button {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
